* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    transition: 0.25s;
}

.rounded {
    border: 2px solid sandybrown;
    border-radius: 5px;
    font-size: 18px;
}

/*    BODY:     */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(64, 64, 64);
}

.wrapper {
    margin-top: 50px;
    width: 80vw;
    min-width: 766px;
    max-width: 1004px;
    background-color: antiquewhite;
    border: 4px solid orange;
    border-radius: 8px;
}

/*    HEADER    */

/*    CABECERA    */

.titulo {
    display: flex;
    height: 5em;
    background-color: rgb(255, 187, 105);
    border-bottom: 4px solid orange;
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: auto 40px;
}

/* Crear nueva tarea */

.flex1 {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-color: rgb(255, 214, 164);
    border-bottom: 2px solid orange;

    & * {
        margin: 0;
        display: block;
        padding-block: 0.5rem;
    }

    & :first-child {
        width: 49%;

        & :last-child {
            width: 100%;
            padding-left: 10px;
        }
    }

    & :nth-child(2) {
        width: 33%;

        & :last-child {
            width: 100%;
            padding-left: 10px;
        }
    }

    & :last-child {
        width: 14%;
        margin-top: auto;

        & :last-child {
            width: 100%;

            &:hover {
                background-color: rgb(64, 64, 64);
                color: rgb(239, 239, 239);
            }
        }
    }
}

/*    FOOTER    */

footer {
    padding: 15px 10px;
    background-color: rgb(255, 214, 164);
    border-top: 2px solid orange;
}

/* Filtros de búsqueda */

.flex2 {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-color: rgb(250, 225, 194);

    & * {
        margin: 0;
        display: block;
        padding-block: 0.5rem;
        width: 49%;

        & :last-child {
            width: 100%;
            padding-left: 10px;
        }
    }
}


/* Lista de tareas */

.flex3 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 3px solid;
    border-radius: 5px;
    font-size: 22px;

    & * {
        margin: 0;
        display: block;
        padding-block: 0.7rem;
    }

    & :first-child {
        width: 8%;

        & :last-child {
            width: 100%;
        }
    }

    & :nth-child(2) {
        width: 72%;
        padding-left: 10px;

        & :last-child {
            width: 100%;
        }
    }

    & :last-child {
        width: 20%;

        & :last-child {
            width: 100%;
        }
    }
}

.ordinal {
    font-weight: 700;
    background-color: rgba(128, 128, 128, 0.2);
    border: none;
    border-radius: 0;
    text-align: center;
}

.urgente {
    background-color: rgb(255, 128, 128);
    border-color: red;
}

.diaria {
    background-color: rgb(255, 194, 128);
    border-color: rgb(255, 128, 0);
}

.mensual {
    background-color: rgb(255, 255, 194);
    border-color: yellow;
}

.btnQuitar {
    font-weight: 700;
    background-color: rgba(128, 128, 128, 0.2);
    border: none;
    border-radius: 0;

    &:hover {
        background-color: rgb(64, 64, 64);
        color: rgb(239, 239, 239);
    }
}

h2 {
    margin: 0.5em;
    text-align: center;
}